@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #4c0e62, #3a175e, #3c4b70);
    animation: gradientAnimation 10s ease infinite alternate;
    transition: background-color 0.3s;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.calculator {
    border: 2px solid #fff;
    padding: 30px;
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0px 10px 20px rgba(27, 102, 252, 0.5);
    transition: background-color 0.3s, color 0.3s;
}

input {
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 3px 15px rgba(84, 84, 84, 0.1);
    font-size: 50px;
    text-align: right;
    cursor: pointer;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
}

input::placeholder {
    color: #ccc;
}

button {
    border: none;
    width: 65px;
    height: 65px;
    margin: 12px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);
    color: #fff;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.3);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.equalButn {
    background-color: #ff5722;
}

.oper {
    color: yellowgreen;
}

.allClr {
    color: #e74c3c;
}

/* Hover effect*/
button:hover {
    background-color: rgba(255, 255, 255, 0.4);
    color: #fff;
    transform: scale(1.1);
    transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

/* Active effect for buttons when clicked */
button:active {
    background-color: rgba(255, 255, 255, 0.6);
    color: #fff;
    transform: scale(0.95);
    transition: transform 0.1s, background-color 0.1s, color 0.1s;
}

/*for devices with a max width of 600px */
@media only screen and (max-width: 600px) {
    body {
        /* Adjust styles as needed for smaller screens */
    }

    .calculator {
        /* Adjust styles as needed for smaller screens */
    }

    input {
        /* Adjust styles as needed for smaller screens */
        width: 280px;
        font-size: 40px;
    }

    button {
        /* Adjust styles as needed for smaller screens */
        width: 55px;
        height: 55px;
        font-size: 18px;
    }
}

/* Media query for devices with a max width of 400px */
@media only screen and (max-width: 400px) {
    body {
    }

    .calculator {
    }

    input {
        /* Adjust styles as needed for even smaller screens */
        width: 240px;
        font-size: 30px;
    }

    button {
        /* Adjust styles as needed for even smaller screens */
        width: 45px;
        height: 45px;
        font-size: 16px;
    }
}
