@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #4c0e62, #3a175e, #3c4b70);
    animation: gradientAnimation 10s ease infinite alternate; /* Add the animation here */
    transition: background-color 0.3s;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.calculator {
    border: 2px solid #fff;
    padding: 30px;
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0px 10px 20px rgba(27, 102, 252, 0.5);
    transition: background-color 0.3s, color 0.3s;
}

input {
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 3px 15px rgba(84, 84, 84, 0.1);
    font-size: 50px;
    text-align: right;
    cursor: pointer;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
}

input::placeholder {
    color: #ccc;
}

button {
    border: none;
    width: 65px;
    height: 65px;
    margin: 12px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);
    color: #fff;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.3);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.equalButn {
    background-color: #ff5722;
}

.oper {
    color: yellowgreen;
}

.allClr {
    color: #e74c3c;
}

/* Hover effect for buttons */
button:hover {
    background-color: rgba(255, 255, 255, 0.4);
    color: #fff;
    transform: scale(1.1);
    transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

/* Active effect for buttons when clicked */
button:active {
    background-color: rgba(255, 255, 255, 0.6);
    color: #fff;
    transform: scale(0.95);
    transition: transform 0.1s, background-color 0.1s, color 0.1s;
}

/* Styling for the Undo button */
#undoButton {
    background-color: #ff4d4d;
    font-weight: bold;
    border: 2px solid #fff;
}

#undoButton:hover {
    background-color: #ff1a1a;
}

#undoButton:active {
    background-color: #ff6666;
}
