@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #f5f3f6, #3a175e, #3c4b70);
  animation: gradientAnimation 10s ease infinite alternate;
  transition: background-color 0.3s;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.tab-container {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.tab-button {
  background-color: #f2f2f2;
  border: none;
  margin: 0 20px;
  display: flex;
  justify-items: center;
  color: #333;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.tab-button:hover {
  background-color: #ddd;
}

.tab-button.active {
  background-color: #ddd;
}

.tab-content {
  display: none;
  border: 2px solid #fff;
  padding: 30px;
  border-radius: 16px;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0px 10px 20px rgba(27, 102, 252, 0.5);
  transition: background-color 0.3s, color 0.3s;
}

.tab-content.active {
  display: block;
}

.inputBox {
  width: 320px;
  border: none;
  padding: 24px;
  margin: 10px;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0px 3px 15px rgba(84, 84, 84, 0.1);
  font-size: 50px;
  text-align: right;
  cursor: pointer;
  color: #fff;
  transition: background-color 0.3s, color 0.3s;
}

.inputBox::placeholder {
  color: #ccc;
}

#clear, #del, .oper, #equalButn, .numbers {
  border: none;
  width: 65px;
  height: 65px;
  margin: 12px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
  color: #fff;
  font-size: 20px;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.3);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.equalButn {
  background-color: #ff5722;
}

.oper {
  color: yellowgreen;
}

.allClr {
  color: #e74c3c;
}

/* Hover effect*/
#clear, #del, .oper, #equalButn, .numbers:hover {
  background-color: rgba(255, 255, 255, 0.4);
  color: #fff;
  transform: scale(1.1);
  transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

/* Active effect for buttons when clicked */
#clear, #del, .oper, #equalButn, .numbers:active {
  background-color: rgba(255, 255, 255, 0.6);
  color: #fff;
  transform: scale(0.95);
  transition: transform 0.1s, background-color 0.1s, color 0.1s;
}

/*for devices with a max width of 600px */
@media only screen and (max-width: 600px) {
  .inputBox {
    width: 280px;
    font-size: 40px;
  }

  #clear, #del, .oper, #equalButn, .numbers {
    width: 55px;
    height: 55px;
    font-size: 18px;
  }
}

/* Media query for devices with a max width of 400px */
@media only screen and (max-width: 400px) {
  .inputBox {
    width: 240px;
    font-size: 30px;
  }

  #clear, #del, .oper, #equalButn, .numbers {
    width: 45px;
    height: 45px;
    font-size: 16px;
  }
}


#currency-converter-tab {
  align-items: center;
  justify-content: center;
  padding: 20px;
}

#currencyAmount {
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0 0 0 1px #ccc;
  font-size: 1.5rem;
  padding: 0.5rem;
  width: 100%;
  margin-bottom: 1rem;
}

#currencyAmount:focus {
  box-shadow: 0 0 0 2px #0078d7;
  outline: none;
}

select {
  appearance: none;
  background-color: #f2f2f2;
  border: none;
  border-radius: 5px;
  color: #333;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  width: 100%;
}

select:focus {
  box-shadow: 0 0 0 2px #0078d7;
  outline: none;
}

option {
  background-color: #f2f2f2;
  color: #333;
}

#convertCurrency, #clearCurrency {
  background-color: #0078d7;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  transition: background-color 0.3s ease;
}

#convertCurrency:hover, #clearCurrency:hover {
  background-color: #005ea2;
}

#convertCurrency {
  margin-bottom: 1rem;
}

#result {
  color: beige;
  font-size: 1.5rem;
  margin-top: 1rem;
}
